<footer>
  <div class="container">
    <p class="text-muted">Made with <a href="http://getbootstrap.com/">Bootstrap</a> and <a href="https://github.com/FezVrasta/bootstrap-material-design">Bootstrap material design</a></p>
  </div>
</footer>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/4.0.2/bootstrap-material-design.iife.js"></script>
<style type="text/css">
  html {
    position: relative;
    min-height: 100%;
  }
  body {
    padding-top: 60px;
    margin-bottom: 60px;
  }
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
  }
  .container .text-muted {
    margin: 20px 0;
  }
</style>