<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><span><%= title %></span></a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Accueil</a></li>
        <% if (isAuthenticated) { %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle"
            data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              Repertoire <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
          <% if (checkRole("administrateur", "prep_residentiel")) { %>
            <li><a href="/repertoire/residentiel">Clients Resientiels</a></li>
          <% } %>
          <% if (checkRole("administrateur", "prep_affaire")) { %>
            <li><a href="/repertoire/affaire">Clients d'Affaire</a></li>
          <% } %>
          </ul>
        </li>
        <% } %>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>

        <% if (isAuthenticated) { %>
          <li><a href="/profile">Profile</a></li>
        <% } %>
        <% if (checkRole("administrateur")) { %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle"
              data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              Paramètres <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/security">Sécurité</a></li>
              <li><a href="/security/unblockuser">Unblock User</a></li>
              <li><a href="/security/journal">Journal</a></li>
            </ul>
          </li>
        <% } %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle"
            data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <%= isAuthenticated ? user.username : "Authenticate" %> <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
          <% if (isAuthenticated) { %>
            <% if (checkRole("administrateur")) { %>
              <li><a href="/auth/signup">Sign Up</a></li>
            <% } %>
            <li><a href="/auth/signout">Sign Out</a></li>
          <% } else { %>
            <li><a href="/auth/signin">Sign In</a></li>
            <li><a href="/auth/signup">Sign Up</a></li>
          <% } %>
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
