<!DOCTYPE html>
<html lang="fr">
<head>
  <%- include("partials/head", { title: "About" }) %>
</head>
<body>
  <%- include("partials/nav", { title: "GTI619 - Lab 05" }) %>
  <div class="container">
    <div class="col-md-12">
      <div class="card" style="max-height: 400px;">
        <div class="card-height-indicator"></div>
        <div class="card-content" style="max-height:100%;overflow-y:auto;">
          <div class="card-body">
            <h2>Laboratoire 5</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique adipisci id animi magni assumenda. Autem quidem aut hic quaerat delectus nobis voluptates eum ad natus, libero repellendus dolorem. Eum, fuga?
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad sunt hic laborum officiis iure, illum voluptas iste necessitatibus architecto non ipsa quas ipsam expedita, quaerat optio deserunt magni accusantium illo!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include("partials/footer") %>
</body>
</html>